.text {
	text-align:center;
}

.header{
	margin-top: 20px;
}
.btn{
	width: 100%;
	margin: 2px;
}

.btn>a{
	font-size: 18px;
}
.footer {
	padding-top: 50px;
}

a, a:hover{
	color : white;
	text-decoration: none !important;
}

#name {
	width: 84.9px;
	padding: 2px;
	text-align: center;
}
#subtotal {
	width: 74px;
	padding: 2px;
	text-align: center;
}
#tax {
	width: 58.5px;
	padding: 2px;
	text-align: center;
}

.table {
	margin-bottom: 0px;
}

.end{
	margin-top: 20px;
}

td{
	border: 1px solid #dddddd;
}