.text {
	text-align:center;
}

.checkout{
	margin-bottom: 0;
}

.total{
	padding: 0;
	border:1px solid #dddddd;
	margin-top: 16px;
	margin-bottom: 16px;
}

.total > h5{
	padding:0 15px 10px 15px;
	border-bottom: 1px solid #dddddd;
}

.total > #no-border{
	border : 0;
}

.btn{
	width: 100%;
}
.footer {
	padding-top: 50px;
}

a, a:hover{
	color : white;
	text-decoration: none !important;
}

#id {
	width: 56px;
}

#name {
	width: 166px;
}

#qty {
	width: 61px;
}

.table {
	margin-bottom: 0px;
}
