<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml refrence: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "https://www.w3.org/ns/widget"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.five-tech.pricechecker"
		version   = "1.0.0">
	<name>Price Checker</name>

	<description>
		A price checker made to tell the total price for apple products in New Jersey.
	</description>

	<author href="http://five-tech.com/about" email="binoypatel14@gmail.com">
		Binoy Patel and Giuseppe Dibella
	</author>

	<!-- Permissions -->
	
	<preference name="phonegap-version" value="3.3.0"/>

	<preference name="Fullscreen" value="true"/>

	<preference name="target-device" value="universal"/>

	<preference name="Orientation" value="default"/>

	<!-- Plugins -->
	<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
	<gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
</widget>
