<!DOCTYPE html>
<html lang="en">
<head>
	<title>Backbone POS</title>
	
	<link rel="shortcut icon" href="img/favicon.png"> <!-- Icon -->

	<!-- CSS Links -->
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script type="text/javascript" src="cordova.js"></script>
</head>
<body>
	
	<!---------------  NAVBAR ------------------>
	
	<div class="navbar navbar-default navbar-static" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">Backbone POS</a>
			</div>
		</div>
	</div>

	<!-------------- MAIN ------------------>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<button id="productBtn" onclick="showProducts()" class="btn btn-primary">Show Products</button>
		 		<table class="products table">
		 			<script id="productTemplate" type="text/template">
						<a data-id="<%= id %>"><%= name %> <%= price %></a>
					</script>
				</table> 
			</div>
		
			<div class="col-md-4">
				<table class="table table-bordered checkout">
					<th>No.</th>
					<th>Product Name</th>
					<th>Qty</th>
					<th>Price ($)</th>
					<script id="checkoutTemplate" type="text/template">
						<ul><%= name %></ul>
					</script>
					<!-- 
						<tbody>
						<tr>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
						</tr>
						<tr>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
						</tr>
						<tr>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
						</tr>
						<tr>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
						</tr>
						<tr>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
							<td class="checkout-td" contenteditable="true"></td>
							<td class="checkout-td"></td>
						</tr>
					</tbody>
					-->
				</table>

				<div class="total col-md-5 col-md-offset-7">
					<h5>Subtotal : </h5>
					<h5>Discount : </h5>
					<h5>Tax : </h5>
					<h5 id="no-border">Total : </h5>
				</div>
				<a class="btn btn-success" href="#" onclick="endSale()">End Sale</a>
			</div>
		</div>
	</div>	
	
	<!------------- FOOTER ------------------>
 
	<div class="footer">
		<div class="container">
			<p class="text">Copyright &copy; 2014 by Binoy Patel &amp; Giuseppe Dibella</p>
		</div>
	</div> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="js/lib/underscore.js"></script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/handlebars-v1.3.0.js"></script>
	
	<!-- Main App File -->
	
	<script type="text/javascript" src="js/pos.js"></script>
	
	<!-- Models -->
	
	<script type="text/javascript" src="js/models/product.js"></script>
	<script type="text/javascript" src="js/models/checkout.js"></script>
	
	<!-- Collections -->
	
	<script type="text/javascript" src="js/collections/products.js"></script>
	<script type="text/javascript" src="js/collections/checkout.js"></script>
	
	<!-- Views -->
	
	<script type="text/javascript" src="js/views/product.js"></script>
	<script type="text/javascript" src="js/views/checkout.js"></script>

	<!-- App File for showing products -->
	<script type="text/javascript" src="js/app.js"></script>

</body>
</html>
