<!DOCTYPE html>
<html lang="en">
<head>
	<title>Backbone POS</title>
	
	<link rel="shortcut icon" href="img/favicon.png"> <!-- Icon -->

	<!-- CSS Links -->

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	
	<!---------------  NAVBAR ------------------>
	
	<div class="navbar navbar-default navbar-static" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Backbone POS</a>
			</div>
		</div>
	</div>
	<!-------------- MAIN ------------------>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
			<button onclick="showProducts()" class="btn btn-primary">Show Products</button>
		 			<table class="products table">
		 				<!-- 
		 					<tr>
		 					<th class="text">Category 1</th>
		 					<th class="text">Category 2</th>
		 					<th class="text">Category 3</th>
		 					<th class="text">Category 4</th>
		 					<th class="text">Category 5</th>
		 				</tr>
		 				-->
						<script id="product_view_template" type="text/template">
							 <a class="btn btn-primary"><%= name %><br><%= price %></a>
						</script>
					 </table> 
			</div>
		
			<!-- Need to delete test items --> 
			<div class="col-md-4">
				<table class="table table-bordered checkout">
					<th>No.</th>
					<th>Product Name</th>
					<th>Qty</th>
					<th>Price</th>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td>1</td>
						<td>Test 1</td>
						<td>2</td>
						<td>$5.00</td>
					</tr>
				</table>

				<div class="total col-md-5 col-md-offset-7">
					<h5>Subtotal : </h5>
					<h5>Discount : </h5>
					<h5>Tax : </h5>
					<h5 id="no-border">Total : </h5>
				</div>
				<a class="btn btn-success" href="#">End Sale</a>
			</div>
		</div>
	</div>	
	
	<!------------- FOOTER ------------------>
 
	<div class="footer">
		<div class="container">
			<p class="text">Copyright &copy; 2014 by Binoy Patel &amp; Giuseppe Dibella</p>
		</div>
	</div> 
	
	<!-- Javascript -->
	<script type="text/javascript" src="js/lib/underscore.js"></script>
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/handlebars-v1.3.0.js"></script>
	
	<!-- Main App File -->
	
	<script type="text/javascript" src="js/pos.js"></script>
	
	<!-- Models -->
	
	<script type="text/javascript" src="js/models/product.js"></script>
	
	<!-- Collections -->
	
	<script type="text/javascript" src="js/collections/products.js"></script>
	
	<!-- Views -->
	
	<script type="text/javascript" src="js/views/productView.js"></script>

	<!-- Temporary product script -->
	<script>
	function showProducts(){
		$('.products').html(productsView.render().el);
	}	
	</script>

</body>
</html>
